{% extends 'layouts/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-12">
          <div class="card card-solid">
            <div class="card-body">
              {% if error_message %}
                  <div class="alert alert-danger">{{ error_message }}</div>
              {% endif %}
              <form method="post" enctype="multipart/form-data">
                {% crispy form %}
                {{form.errors}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>



{% endblock %}


{% block javascripts %}
  {{media}}
{% endblock javascripts %}


