{% extends 'layouts/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-12">
          <div class="card card-solid">
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% crispy form %}
                {{form.errors}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>



{% endblock %}


{% block javascripts %}
<script>
  $(document).ready(function () {

    function checkMaquinaria($maquinaria) {
      let $detalleContainer = $maquinaria.closest("tr");
      let $maquinariaPrecio = $detalleContainer.find(".precio-ha");
      let $precioHa = $maquinaria.find('option:selected').attr('data-precio-ha');
      $maquinariaPrecio.val($precioHa);
    }

    $(document).on("change", "select[data-maquinaria-select]", function (event) {
      checkMaquinaria($(event.target))
    });

    function checkItem($item) {
      let $detalleContainer = $item.closest("tr");
      let $itemCosto = $detalleContainer.find(".item-costo");
      let $itemPorcentajeIva = $detalleContainer.find(".item-porcentaje-impuesto");
      let $precioCosto = $item.find('option:selected').attr('data-costo');
      let $impuestoPorcentaje = $item.find('option:selected').attr('data-tipo-impuesto-porcentaje');
      $itemCosto.val($precioCosto);
      $itemPorcentajeIva.val($impuestoPorcentaje);
    }

    $(document).on("change", "select[data-item-select]", function (event) {
      checkItem($(event.target))
    });

    $("#id_es_credito").change(function () {
      if ($(this).is(":checked")) {
        $(".None").removeClass("d-none");
      } else {
        $(".None").addClass("d-none");
      }
    });
  });
</script>
{% endblock javascripts %}


