{% extends 'layouts/base.html' %}
{% block title %}Usuarios{% endblock %} 
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{{title}}</a></li>
              <li class="breadcrumb-item active">Start</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="row">
        <div class="{% if filter == None %}col-lg-12{% else %}col-lg-10{% endif %}">
            {% if search %}
              {% include 'includes/search_input.html' %}
            {% endif %}
            {% render_table table %}
        </div>
        {% if filter %}
        <div class="col-lg-2 p-0">
            <div class="card mr-1">
                <div class="card-body filter overflow-auto">
                    {% include 'includes/filter_form.html'%}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </section>

  </div>



{% endblock %}