{% extends 'layouts/base.html' %}
{% block title %}Usuarios{% endblock %} 
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-10">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-2 text-right">
            <a href="{% url create_url %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="row">

      </div>
      <div class="row">
        <div class="{% if filter == None %}col-lg-12{% else %}col-lg-10{% endif %}">
            {% if search %}
              {% include 'includes/search_input.html' %}
            {% endif %}
            {% render_table table %}
        </div>
        {% if filter %}
        <div class="col-lg-2 p-0">
            <div class="card mr-1">
                <div class="card-body filter overflow-auto">
                    {% include 'includes/filter_form.html'%}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </section>

  </div>



{% endblock %}