{% extends 'layouts/base.html' %}
{% block title %}{{title}}{% endblock %} 
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}
{% block content %}

<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1>{{title}}</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <div class="card card-solid">  
                    <div class="">
                        <h1 class="h2 w-100">Eliminar</h1>
                        <p class="text-muted"> Desea eliminar {{ object }} ? </p>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                      <h2 class="alert-heading">Error!</h2>
                      {{ error }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}
                    <h2 class="h5 mt-4">Resumen</h2>
                    <ul class="ml-8">
                      {% for model_name, object_count in model_count %}
                          <li>{{ model_name|capfirst }}: {{ object_count }}</li>
                      {% endfor %}
                    </ul>
                        <h2  class="h5 mt-3">Objetos</h2>
                    <p>
                      <ul class="ml-8">
                        {{ deletable_objects|unordered_list }}
                      </ul>
                      <br>
                    </p>
                <form method="post">
                 {% csrf_token %}
                 <input  class="btn btn-danger" type="submit" name="eliminar" value="Eliminar">
                 <a class="btn btn-secondary" href="{% url list_url %}"> Cancelar </a>
                </form>
                </div>
            </div>
          </div>
        </div>
    </section>
</div>


{% endblock %}