{% extends 'layouts/base.html' %}
{% block title %}{{title}}{% endblock %} 
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}
{% block content %}

<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1>{{title}}</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <div class="card card-solid">  
                    
                    <div class="card-header">
                        <h3 class="card-title">Desea eliminar {{ object }} ?</h3>
                    </div>

                    <div class="card-body">  

                      {% if error %}                                        
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Error!</h3>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="card-body">
                          {{ error }}
                        </div>
                      </div>
                      {% endif %}


                      <div class="info-box bg-light col-12">
                        <div class="info-box-content">
                          <span class="info-box-text text-left text-muted">Resumen</span>
                          {% for model_name, object_count in model_count %}
                            <span class="info-box-number text-left text-muted mb-0">{{ model_name|capfirst }}: {{ object_count }}</span>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="info-box bg-light col-12">
                        <div class="info-box-content">
                          <span class="info-box-text text-left text-muted">Objetos</span>
                          <span class="info-box-number text-left text-muted mb-0">{{ deletable_objects|unordered_list }}</span>
                        </div>
                      </div>
                      <form method="post">
                        {% csrf_token %}
                        <input  class="btn btn-danger" type="submit" name="eliminar" value="Eliminar">
                        <a class="btn btn-secondary" href="{% url list_url %}"> Cancelar </a>
                      </form>

                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>
</div>


{% endblock %}