.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.list-unstyled {
  list-style-type: none;
}
.bg-light {
  background-color: #ececec;
}
.bg-dark {
  background-color: dimgrey;
  color: white;
}
.th-1 {
  border: 1px solid #ececec;
}
.border-light {
  border: 1px solid white;
}
.border-light-1 {
  border: 1px solid #ececec;
}
ul {
  font-size: large;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
}
table,
tr,
td {
  padding: 2px;
}
.text-bold {
  font-weight: bold;
}
.text-small {
  font-size: small;
}
.text-large {
  font-size: large;
}
.text-xlarge {
  font-size: x-large;
}
.text-xxlarge {
  font-size: xx-large;
}
.text-larger {
  font-size: larger;
}
