<div>
    {% if update_url %}
        <a class="btn btn-sm btn-primary"  href="{% url update_url record.id %}"><i class="fas fa-pen"></i> </a>
    {% endif %}
    {%  if delete_url  %}
        {% if record %}
            {% if record.es_vigente == True %}
                <a class="btn btn-sm btn-danger"  href="{% url delete_url record.id %}"><i class="fas fa-trash"></i> </a>
            {% elif record.es_vigente == None %}
                <a class="btn btn-sm btn-danger"  href="{% url delete_url record.id %}"><i class="fas fa-trash"></i> </a>
            {% endif %}
        {% endif %}
    {%  endif %}
    {% if download_url %}
        {% if record %}
            {% if record.es_vigente == True %}
                <a class="btn btn-sm btn-info"  href="{% url download_url record.id %}"><i class="fas fa-download"></i> </a>
            {% elif record.es_vigente == None %}
                <a class="btn btn-sm btn-info"  href="{% url download_url record.id %}"><i class="fas fa-download"></i> </a>
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% if next_url %}
        <a class="btn btn-sm btn-primary" href="{% url next_url %}?{{params_name}}={{record.id}}"> <i class="fa fa-hand-holding-dollar"></i> </a>
    {% endif %}
        
</div>
