{% load django_tables2 %}
<div class="btn-group">
    <button type="button" class="btn btn-default">Exportar </button>
    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
      <a class="dropdown-item" href="{% export_url 'csv' %}"><i class="fa fa-file-csv"></i> CSV</a>
      <a class="dropdown-item" href="{% export_url 'xls' %}"><i class="fa fa-file-excel"></i> XLS</a>
      <a class="dropdown-item" href="{% export_url 'xlsx' %}"><i class="fa fa-file-excel"></i> XLSX</a>
      <a class="dropdown-item" href="{% export_url 'json' %}"><i class="fa fa-file-pdf"></i> JSON</a>
    </div>
</div>