{% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-success elevation-4" >
    <!-- Brand Logo -->
    <a href="/" class="brand-link navbar-dark-gray">
      <img src="{% static 'assets/img/logo.png' %}" alt="logo" class="brand-image " style="opacity: .8">
      <span class="brand-text font-weight-light">{{empresa.razon_social}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" >
      <div class="form-inline mt-1 ">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Buscar" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent text-sm" data-widget="treeview" role="menu" data-accordion="false">
        
        {% for key, menu in menus.items %}
          {% include  'includes/sidebar_menu_item.html' %}
        {% endfor %}
        
        </ul>
      </nav>

    </div>
  </aside>
  