
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/ecologismo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Agroatardecer</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      

      <!-- SidebarSearch Form -->
      <div class="form-inline mt-1">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {{menus.items|dictsort:"1.0.weight"}}
          {% for key, menu in menus.items %}

          

          {% for item in menu %}
            
            {% if item.visible %}
              {% if item.separator %}
                <li class="divider-vertical"></li>
              {% endif %}
          <li class="nav-item {% if item.children %} has-treeview {% endif %}  {% if 'charts' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if item.selected %} active{% endif %} ">
              {% if item.icon %}
              &nbsp;<i class="{{ item.icon }}"></i>
              {% endif %}
              <p>
                {{ item.title }}
                {% if item.children %}
                <i class="right fas fa-angle-left"></i>
                {%endif %}
              </p>
            </a>
            {% if item.children %}
            <ul class="nav nav-treeview">
              {% for item in items %}
                {% if item.visible %}
              <li class="nav-item">
                <a href="{{ item.url }}" class="nav-link {% if item.selected %} active {% endif %}">
                    {% if item.icon %}
                        <i class="{{ item.icon }}"></i>&nbsp;
                    {% endif %}
                  <p>{{ item.title }}</p>
                </a>
              </li>
               {% endif %}
               {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
      </nav>

    </div>
  </aside>
  