{% for item in menu %}

{% if item.visible %}
    
{% if item.separator %}
        <li class="divider"></li>
    {% endif %}

    <li class="nav-item 
    {% if item.children %} has-treeview {% endif %} {% if item.children %}{% for menuitem in item.children %}{% if menuitem.visible %}{% if menuitem.selected %} menu-open {% endif %}{% endif %}{% endfor %}{% endif %}">
        
        <a href="{{ item.url }}" class="nav-link 
        {% if item.selected %} active {% endif %}  {% if item.children %}{% for menuitem in item.children %}{% if menuitem.visible %}{% if menuitem.selected %} active {% endif %}{% endif %}{% endfor %}{% endif %}">
            {% if item.icon %}
                <i class="nav-icon {{ item.icon }}"></i>
            {% endif %}
            <p>
                {{ item.title }} {% if item.children %}<i class="right fas fa-angle-left"></i>{% endif %}
            </p>
        </a>

        {% if item.children %}
            <ul class="nav nav-treeview">
                {% for menuitem in item.children %}
                    {% include "includes/menu_item.html" with menuitem=menuitem %}
                {% endfor %}
            </ul>
        {% endif %}

    </li>

{% endif %}

{% endfor %}

