
<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">

  <title>Agroatardecer - {% block title %}{% endblock %}</title> 
  {% block head %}{% endblock %}
  {% include 'includes/css.html' %}
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body class="hold-transition layout-fixed {% block body_class %}{% endblock body_class %}">
  <div class="wrapper">
      {% block navbar %}
        {% include 'includes/navigation.html' %}
      {% endblock %}
      {% block sidebar %}
        {% load menu %}
        {% generate_menu %}
        {% include 'includes/sidebar.html' %}
      {% endblock %}
      {% block content %}{% endblock content %}
      {% include 'includes/footer.html' %}
  </div>
  {% include 'includes/scripts.html' %}
  {% block javascripts %}{% endblock javascripts %}
</body>
</html>
