
{% load l10n %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{object.comprobante}}</title>
     <link rel="stylesheet" href="{{invoice_css_dir}}">
</head>
<body>
    <table >
        <tr>
        <td style="width: 15%;padding: 0;" valign="top" align="center">
            <img src="{{invoice_img_dir}}" width="100">
        </td>
        <td style="width: 60%;padding: 0;" valign="top" align="center">
            <div class="text-center text-large">{{empresa.rubro}}</div>
            <div class="text-center text-xlarge text-bold">de {{empresa.razon_social}}</div>
            <div class="text-center text-large">Tele/Fax: {{empresa.telefono}} - {{empresa.fax}}</div>
            <div class="text-center text-large">{{empresa.localidad}} - {{empresa.departamento}} - {{empresa.pais}}</div>
            <div class="text-center text-large">{{empresa.direccion}}</div>
        </td>
        <td style="width: 25%;padding: 0;">
            <div class="text-center text-bold text-large"> TIMBRADO N°:{{object.timbrado}}</div>
            <div class="text-center">Inicio de vigencia: {{empresa.timbrado.fecha_inicio}}</div>
            <div class="text-center">Fin de vigencia: {{empresa.timbrado.fecha_fin}}</div>
            <div class="text-center text-bold">RUC {{empresa.ruc}}</div> 
            <div class="text-center text-bold text-xxlarge">FACTURA</div>
            <div class="text-center text-bold text-xlarge">{{ object.comprobante }}</div>
        </td>
        </tr>
    </table>

    <table >
    <tr class="bg-light">
        <td {% if not only_detail %}style="width: 50%;padding-left: 10px;padding-top: 10px;"{% endif %}>
        <div style="padding: 0px;">Fecha: {{object.fecha_documento|date:"d/m/Y"}}</div>
        <div style="padding: 0px;">RUC: {{object.cliente.documento}}</div>
        <div style="padding: 0px;">Nombre o Razon Social: {{object.cliente.razon_social}}</div>
        <div style="padding: 0px;">Dirección: {{object.cliente.direccion}}</div>
        </td>
        <td {% if not only_detail %}style="width: 50%;vertical-align: top;padding-left: 10px;padding-top: 10px;"{% endif %}>
        <div style="padding: 0px;">Condición de venta: {% if object.es_credito %} CREDITO {% else %} CONTADO {% endif %}</div>
        <div style="padding: 0px;">Telefono: {{object.cliente.celular}}</div>
        <div style="padding: 0px;">Vendedor: -</div>
        <div style="padding: 0px;"> </div>
        </td>
    </tr>
    </table>
    <table>
        <tr style="line-height: 5px;"></tr>
        <tr class="bg-dark" >
        <th class="text-center border-light" rowspan="2" >Código</th>
        <th class="text-center border-light" rowspan="2" >Cantidad</th>
        <th class="text-center border-light" rowspan="2" >Descripción</th>
        <th class="text-center border-light" rowspan="2" >Precio unitario</th>
        <th class="text-center border-light" colspan="3" >Valores de venta</th>
        </tr>
        <tr class="bg-dark">
        <th class="text-center border-light">Exentas</th>
        <th class="text-center border-light">5%</th>
        <th class="text-center border-light">10%</th>
        </tr>

        {% for det in detalles %}

        <tr class="text-center">
        <td  class="border-light-1 text-center" style="width: 10%;">{{det.item.pk}}</td>
        <td  class="border-light-1 text-center" style="width: 10%;">{{det.cantidad}}</td>
        <td  class="border-light-1 text-left" style="width: 40%;">{{det.item.descripcion}}</td>
        <td  class="border-light-1 text-right" style="width: 10%;">{{det.precio|intcomma}}</td>
        <td  class="border-light-1 text-right" style="width: 10%;">{{det.imponible_exenta|intcomma}}</td>
        <td  class="border-light-1 text-right" style="width: 10%;">{{det.imponible5|intcomma}}</td>
        <td  class="border-light-1 text-right" style="width: 10%;">{{det.imponible10|intcomma}}</td>
        </tr>
        {% endfor %}

        <tr></tr>
        <tr class="bg-light">
        <td  class="text-right border-light" colspan="4">Subtotales</td>
        <td  class="text-right border-light">{{object.imponible_exenta|intcomma}}</td>
        <td  class="text-right border-light">{{object.imponible5|intcomma}}</td>
        <td  class="text-right border-light">{{object.imponible10|intcomma}}</td>
        </tr>
        <tr class="bg-light">
        <td  colspan="6" class="text-right text-large">Total a pagar: {{number_to_words.upper}}.-</td>
        <td  class="text-right border-light" style="font-size: 1.15em;"><strong>{{object.total|intcomma}}</strong></td>
        </tr>
    </table>
    <table>
        <tr  class="bg-light">
        <td style="width: 25%"  class="text-right border-light"><div>Liquidación del IVA</div></td>
        <td style="width: 25%"  class="text-right border-light"><div>(5%) {{object.iva5|intcomma}}</div></td>
        <td style="width: 25%"  class="text-right border-light"><div>(10%) {{object.iva10|intcomma}}</div></td>
        <td style="width: 25%"  class="text-right border-light"><div>TOTAL IVA: {{object.total_iva|intcomma}}</div></td>
        </tr>
        
        <tr class="">
            <td colspan="2" valign="bottom">
            <div class="col"><p class="ml-3 mt-3">Autorización como autoimpresor y timbrado, habilitación Nro.: {{empresa.timbrado.autorizacion}}</p></div>
            </td>
            <td colspan="2" style="vertical-align: bottom;">
            <div class="col text-right"><p class="ml-3 mt-3">Original: Cliente</p></div>
            </td>
        </tr>
        

    </table>
</body>
</html>

