{% extends "layouts/base-fullscreen.html" %}
{% block title %} Login {% endblock %} 
{% block body_class %} login-page {% endblock body_class %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="login-box">
    <div class="login-logo">
        Agro <b>Atardecer</b>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
            <p class="login-box-msg">
            {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
            {% else %}

            {% endif %}
        </p>
        <form method="post" action="">
          {% csrf_token %}
          <div class="input-group mb-3">
            {{ form.username }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
              <button type="submit" name="login" class="btn btn-primary btn-block">Acceder</button>
            </div>
          </div>
        </form>
        <br /><br />
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
