<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{css_dir}}">
    </head>

    <body>

        <div id="header_content">
            <p>
                <p><span style="font-size: large;">Agro Atardecer</span></p>
                <p><span>{{ today | date:"d/m/Y H:i" }}</span></p>
                <p><span style="font-size: larger;font-weight: bold;">{{title}}</span></p> 
                
            </p>
            {% if table_headers %}
                    <table>
                        <thead>
                            <tr>
                            {% for column_name in table_headers %}
                                <th style="white-space: nowrap;">{{column_name}}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                    </table>
            {% endif %}
            
        </div>

        <div id="content_frame">
            <table>
                <tbody>
                    {% if table_data %}
                        {% for rows in table_data %}
                            <tr>
                                {% for colum in rows %}
                                    <td style="white-space: nowrap;">{{colum}}</td>
                                {% endfor%}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div id="footer_content" style="width: 100%; text-align: center;">
            página <pdf:pagenumber> de <pdf:pagecount>
        </div>

    </body>

</html>