<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        table {
            width: 100%;
            color: #212529;
        }
        th,td {
            padding: 0.25rem;
            vertical-align: top;
        }
        thead th {
            vertical-align:middle;
            border-bottom: 2px solid #dee2e6;
            text-align: left;
        }
        .to_right{
            float: right;
        }
        .to_left{
            float: left;
        }
    </style>
</head>
<body>
    <div  style="width: 100%;overflow: auto;">
        <div style="width: 50%;float: left;">
            
        </div>
        <div style="width: 50%;float: right;">
            {{ today | date:"d/m/Y H:i" }}
        </div>
    </div>
    <h1 style="margin-top: 0px;">{{title}}</h1>
    
    {{ table|safe }}
    
</body>
</html>