{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %} 
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}


{% block content %}  
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Inicio</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="card card-solid"> 
        <div class="card-body">

              <h1 class="display-4">Agro Atardecer</h1>
              <p class="lead">Lo mejor en gestion agrícola, en sus manos</p>
              <img src="{% static 'assets/img/electronica.png' %}" width="150">

        </div>
      </div>
    </section>

  </div>

{% endblock content %}

