{% extends 'layouts/base.html' %}
{% block title %}Cambio de contraseña exitoso{% endblock %}
{% block body_class %} sidebar-mini pace-secondary {% endblock body_class %}

{% block content %}

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>Cambio de contraseña exitoso</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-12">
            <div class="card card-solid">
              <div class="card-body">
                <h1 class="h4 text-secondary">Restablecimiento de contraseña completo.</h1>
                <br>
                <a href="{% url 'home' %}" class="btn btn-secondary">Volver a inicio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </div>

{% endblock %} 